<div class="halo-accept-cookie-popup" >
    <div class="block-accept">
        <p class="desc">
            The cookie settings on this website are set to 'allow all cookies' to give you the very best experience.
            Please click Accept Cookies to continue to use the site.
        </p>
        <div class="group-action-links uppercase" >
            <a href="javascript:void(0)" class="accept-cookie">
                <span>privacy policy</span>
            </a>
            <a href="#" class="accept" data-close-accept>
                <span>accept</span>
                <span class="icon">✔</span>
            </a>
        </div>
    </div>
</div><!-- END: Halo Accept Cookie Popup -->