<div class="halo-sidebar halo-sidebar-right halo-auth-sidebar" data-auth-sidebar id="halo-auth-sidebar">
    <div class="halo-sidebar-header text-left">
        <span class="title">Login</span>
        <a href="#" class="halo-sidebar-close" data-close-auth-sidebar="" >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path d="M 38.982422 6.9707031 A 2.0002 2.0002 0 0 0 37.585938 7.5859375 L 24 21.171875 L 10.414062 7.5859375 A 2.0002 2.0002 0 0 0 8.9785156 6.9804688 A 2.0002 2.0002 0 0 0 7.5859375 10.414062 L 21.171875 24 L 7.5859375 37.585938 A 2.0002 2.0002 0 1 0 10.414062 40.414062 L 24 26.828125 L 37.585938 40.414062 A 2.0002 2.0002 0 1 0 40.414062 37.585938 L 26.828125 24 L 40.414062 10.414062 A 2.0002 2.0002 0 0 0 38.982422 6.9707031 z"></path>
            </svg>
        </a>
    </div>

    <div class="halo-sidebar-wrapper custom-scrollbar">
        {% if user.is_authenticated %}

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}

          <div class="form-actions auth-actions text-center">
              <input type="submit" class="button button-3 button-login" value="Sign Out">
          </div>
        </form>

        {% else %}

        <form accept-charset="UTF-8" action="{% url 'account_login' %}" method="post" class="auth-form">
            {% csrf_token %}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
            {% endif %}

            <!--     Fields of allAuth LoginFrom-->
            <div class="form-field">
                <label class="form-label" for="{{ login_form.login.id_for_label }}">
                        Email Address
                        <em>*</em>
                </label>
                <input id="{{ login_form.login.id_for_label }}"
                       class="form-input form-input-placeholder"
                       type="email"
                       value=""
                       name="{{ login_form.login.name }}"
                       required=""
                       placeholder="Email Address" >
            </div>
            <div class="form-field">
                <label class="form-label" for="{{ login_form.password.id_for_label }}">
                        Password
                        <em>*</em>
                    </label>
                <input id="{{ login_form.password.id_for_label }}"
                       class="form-input form-input-placeholder"
                       type="password"
                       value=""
                       required=""
                       placeholder="Password"
                       name="{{ login_form.password.name }}">
            </div>
            <!--     End of Fields of allAuth LoginFrom-->

            <div class="form-actions auth-actions text-center">
                <input type="submit" class="button button-3 button-login" value="Log in">
                <a class="auth-link link link-underline" href="#">
                    <span class="text">Forgot your password?</span>
                </a>

                <!-- SOCIAL ACCOUNTS -->
                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                    <p>________ OR ________</p>

                    <div class="socialaccount_ballot">
                      <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                      </ul>
                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}
                {% endif %}

                <!-- NEW ACCOUNT -->
                <p>Don't have an account?</p>
                <a href="{% url 'account_signup' %}" class="button button-2 button-register">
                    Create account
                </a>
            </div>
        </form>



        {% endif %}
    </div>
</div><!-- END: Login Sidebar -->



